
  <div>
    <app-nav></app-nav>
  </div>

  <h1>Criar contato</h1>

     <form class="m-5"[formGroup]="usersForm" (ngSubmit)= "sendForm()">
        <div class="form-group col-md-4">
          <label  class="form-label">Nome</label>
          <input type="text" class="form-control" name = "inputName" formControlName="Nome" placeholder="Digite o nome do contato"id="inputName" >
        </div>


        <div class="col-md-4">
          <label   class="form-label">Email</label>
          <input type="email" class="form-control" name = "inputEmail" formControlName="Email" placeholder="Digite o e-mail do contato"id="inputEmail"  >
        </div>

        <div class="col-md-4">
          <label  class="form-label">Celular</label>
          <input type="tel" class="form-control" name = "inputTel" formControlName="Telefone" placeholder="Digite o celular do contato"id="inputTel" >
        </div>

        <div class="d-grid gap-2 col-4 mt-3">
          <button type="submit" class="btn btn-primary btn-lg rounded-4" >Criar contato</button>
          <a class="btn btn-secondary btn-lg rounded-4" [routerLink]="['/contacts']">Voltar</a>
        </div>

    </form>

    <!-- <div class="table-main">
      <h1>Listagem de Contatos</h1>

      <table class="table" *ngIf= "users">

        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
          </tr>
        </thead>
        <tbody *ngIf="users.length > 0">
          <tr *ngFor="let user of users; index as i" >
            <th scope="row">{{ i }}</th>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telefone }}</td>
            <td><a [routerLink]="['edit', user.id]">vir</a></td>
            <td>
          </tr>
        </tbody>
      </table> -->

  <div>
    <app-footer></app-footer>
  </div>


