
  <div>
    <app-nav></app-nav>
  </div>

  <div class="test">
    <div class="m-4 d-grid gap-2 d-md-flex justify-content-md-start">
      <a class="btn btn-primary rounded-4" role="button" [routerLink]="'/contacts/new'">Adicionar Novo Contato</a>
    </div>



      <div class="table-main">
        <h1>Listagem de Contatos</h1>

        <table class="table" *ngIf="users" >

          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of users" >
              <th scope="row">{{ contact.id }}</th>
              <td>{{ contact.nome }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.telefone }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button class="btn btn-outline-primary" [routerLink]="['edit', contact.id]">Editar</button>
                  <button role="button" class="btn btn-outline-danger"(click)="showConfirmation = true">Remover</button>
                </div>
                <div class="alert" *ngIf="showConfirmation">
                  <p> Tem certeza de que deseja remover este contato?</p>

                  <button class="btn btn-danger"[routerLink]="['remove', contact.id]" >Confirmar</button>
                  <button class="btn btn-secondary" (click)="showConfirmation = false">Cancelar</button>
              </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>




  <div>
    
  </div>
</div>

