
.full-screen{
  height: 100vh;
}

.table-main{
  text-align: center;
}

.alert{
  display: flex;
  justify-content: center;

}
.alert p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
