.image-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.top h1 span{
  font-weight: bold;
  text-shadow:0 0 25px;
  color:azure;
}

form .decoration{
  font-weight: bold;
  text-shadow:0 0 25px;
  color:rgba(44, 40, 40, 0.979);
}


@media (max-width: 400px) {
  .top h1 {
    top: 20px;
    font-weight: bold;
  }

}

@media (min-width: 769px) {
  .top h1 {
    top: 7rem;

  }
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


