

  <div class="image-container">
    <div class="top">
      <h1 class="pt-5 position-absolute start-50 translate-middle">
        <span>Sistema de Contatos</span>
      </h1>
    </div>

    <img src="../assets/images/background.jpg" alt="">

    <form class="d-flex align-items-center justify-content-center">
      <div class="position-absolute top-50 start-50 translate-middle">

        <div class="form-group">
          <label for="exampleNome" class="form-label fw-bold">
            <span class="decoration">Username</span>

          </label>
          <input type="text" class="form-control " id="exampleNome" aria-describedby="nameHelp" placeholder="Digite o seu nome">
        </div>

        <div class="form-group " >
          <label for="exampleInputEmail1" class="form-label mt-3 fw-bold">
            <span class="decoration">  Email</span>

          </label>
          <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
        </div>

        <div class="mb-3 mt-3">
          <label for="exampleInputPassword1" class="form-label fw-bold">
            <span class="decoration"> Password
            </span>

          </label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha" >
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">
            <span class="decoration"> Check me out</span>

          </label>
        </div>

        <button type="submit" class="btn btn-primary" [routerLink]="['/home']">Submit</button>
      </div>

    </form>

<app-footer></app-footer>
  </div>






